.container {
  background-color: #000;
  height: 106vh;
  padding: 10px;
}
.side1 {
  background-color: #1f1f1f;
  margin: 10px;
  border-radius: 10px;
  height: 100vh;
}
.side2 {
  background-color: #1f1f1f;
  margin: 10px;
  border-radius: 10px;
  height: 100vh;
}
